In [1]:
import pandas as pd
df = pd.read_csv('Dataset.csv')
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [4]:
inputs = df.drop('target', axis='columns')  #Input section
target = df.target     # Target Column
inputs.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2

In [5]:
# Chech if any outlier
inputs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
dtypes: float64(1), int64(12)
memory usage: 104.2 KB

In [11]:
# Training tha data after splitting into 70:30
from sklearn.model_selection import train_test_split
from sklearn import tree

In [7]:
x_train, x_test, y_train, y_test = train_test_split(inputs,target,test_size = 0.3)

In [8]:
len(x_train)

717

In [9]:
len(y_test)

308

In [12]:
model = tree.DecisionTreeClassifier()

In [13]:
model.fit(x_train, y_train)

DecisionTreeClassifier()

In [19]:
model.score(x_test, y_test)  #Accuracy

1.0

In [20]:
model.score(x_train, y_train)

1.0

In [21]:
# Prediction the disease of person who is at 3rd (index(2)) position in dataset
model.predict([[70,1,0,145,174,0,1,125,1,2.6,0,0,3]]) # prediction should pe zero (0)

array([0], dtype=int64)